<script type="text/javascript">
function post(path, params, method) {
  // from http://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit
  method = method || "post"; // Set method to post by default if not specified.

  // The rest of this code assumes you are not using a library.
  // It can be made less wordy if you use one.
  var form = document.createElement("form");
  form.setAttribute("method", method);
  form.setAttribute("action", path);

  for(var key in params) {
    if(params.hasOwnProperty(key)) {
      var hiddenField = document.createElement("input");
      hiddenField.setAttribute("type", "hidden");
      hiddenField.setAttribute("name", key);
      hiddenField.setAttribute("value", params[key]);

      form.appendChild(hiddenField);
    }
  }

  document.body.appendChild(form);
  form.submit();
}
</script>

<table>
<% odd=true %>
<% @tasks.each do |task| %>
    <tr <%= "style=\"background-color:#c0c0c0;\"" if odd; %> >
      <% odd=(not odd) %>
      <td><%= "<del>" if task.done %>
          <%= regex=/http[s]*:\/\/\S+/
	      md=regex.match(task.description)
	      if md
		task.description[0..(md.begin(0)-1)]+"<a href=\"#{md[0]}\">link</a>"+
			task.description[(md.end(0))..-1]
	      else
		task.description
	      end
	  %>
	  <%= "</del>" if task.done %></td>
      <td><%= task.deferred_until %></td>
      <td>
        <form method="post" action="/task/<%= task.id %>">
          <input type="hidden" name="_method" value="put">
          <input type="hidden" name="action" value="undefer">
          <input type="submit" value="Un-defer">
        </form>
      </td>
      <td>
        <form method="post" action="/task/<%= task.id %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Done">
        </form>
      </td>
     </tr>
<% end %>
</table>
<br/>
<form method="post" action="/job/clearpostponements">
  <input type="submit" value="Undo all postponements">
</form>
<a href="/">View all</a>
